<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>PaperStock</title>
    
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
     integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href="/css/nav.css" rel="stylesheet">    
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <% include partials/nav %>
    <div class="parallax-image-1">
        <div class="parallax-text">
            <span class="caption display-4 text-white bg-dark p-3">
                Looking for previous year papers? PaperStock has it
            </span>
        </div>
    </div>
    <section>
        <div class="container-box">

            <div class="card">
                <a href="/courses/scope" class="card-title">SCOPE</a>
            </div>

            <div class="card">
                <a href="/courses/site" class="card-title">SITE</a>
            </div>

            <div class="card">
                <a href="/courses/sense" class="card-title">SENSE</a>
            </div>

            <div class="card">
                <a href="/courses/select" class="card-title">SELECT</a>
            </div>
            <div class="card">
                <a href="/courses/smec" class="card-title">SMEC</a>
            </div>

            <div class="card">
                <a href="/courses/sas" class="card-title">SAS</a>
            </div>
                        
        </div>
    </section>
    <div class="parallax-image-2">
        <div class="parallax-text">
            <span class="caption-bottom text-white bg-dark p-3">
                Select Your school
            </span>
        </div>
    </div>
    <section>
        <div class="container-box">

            <div class="card">
                <a href="/courses/scheme" class="card-title">SCHEME</a>
            </div>

            <div class="card">
                <a href="/courses/sce" class="card-title">SCE</a>
            </div>

            <div class="card">
                <a href="/courses/sbst" class="card-title">SBST</a>
            </div>

            <div class="card">
                <a href="/courses/vitbs" class="card-title">VIT BS</a>
            </div>

            <div class="card">
                <a href="/courses/vsparc" class="card-title">V-SPARC</a>
            </div>
            <div class="card">
                <a href="/courses/ssl" class="card-title">SSL</a>
            </div>
                        
        </div>
    </section>
    <div class="parallax-image-3">
        <!-- <div class="parallax-text">
            <span class="caption-bottom text-white bg-dark p-3">
                
            </span>
        </div> -->
    </div>
   <!--FOOTER-->
   <% include partials/footer %>
</body>
</html> 
