*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



h1.admin-heading {
    margin: 4% auto auto 25%;
    font-size: 3rem;
    
}

.container {
    margin-top: 5%;
}

.jumbotron{
    margin-top: 3%;
}
