*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //background-image: url('/images/art-background-blank-2340254.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*STYLING HTML ,BODY AND THE PAGE*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    //background-image: url('/images/art-background-blank-2340254.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    margin-top:10%;
    margin-left: 30%;
}

.opt{
    margin-top: 2rem;
    margin-right: 3rem;
    width: 10rem;
}

.warning{
    margin-left: 12rem;
}
