*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body,html{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin:auto;
    margin-top: 10%;
  }
